<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grupo</title>
  <link rel="stylesheet" href="../css/estilo.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<!-- BODY -->
<body>

  <!-- Header: login -->
  <header class="header">
    <!-- logo de la red social redirecciona a pendiente -->
    <a class="header-logo" href="home.html">
      <!-- logo de la red social pendiente -->
      <img src="" alt="" />
    </a>
    <!-- search/logout 
    <div class="header-logout">
      <input type="text" placeholder="Buscar" />

      <i class="fas fa-search"></i>
      <a href="index.html">
        <i class="fas fa-power-off"></i> Logout
      </a>
    </div>-->
  </header>

  <section class="nav">
    <!-- perfil -->
    <div class="nav-perfil">
      <img src="" alt="" />
      <a href="perfil.html">Perfil</a>
    </div>
    <!-- Menú -->
    <p><a id="menu">xxx</a></p>
    <div></div>   

  </section>

  <section id="contenedor">
    
  </section>
  <!-- SCRIPTS -->
  <script src=""></script>
</body>

</html>