<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mis Grupos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../grid.css/" />
  <script src="main.js"></script>
</head>
<body>
<section>
    <div .container>
        .item item
        .item item
        .item item
        .item item
        .item item
        .item item
    </div>
</section>
 


</body>
</html>