* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilos generales --------------- */
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
/* Botones y links "a" */
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
}
/* Login */
input {
  display: inline-block;
  padding: 0.5rem;
  font-size: 16px;
}

/* LAYOUT --------------- */

/* Header */
.header {
  width: 100%;
  padding: 1.2rem;
  background-color: #66cacf;
 
}

.header-form {
  float: right;
}
.header-logout {
  float: right;
}
.header-form input {
  color: black;
  display: inline-block;
}
.header-form a {
  padding: 0.5rem;
  background-color: #333;
  color: white;
  text-align: center;
}


/* Navegación */
.nav {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: inline-block;
  background-color: #F7F9F9;
  color: black;
  text-align: center;
 
}

.nav a {
  padding: 8px;
  background-color: #66cacf;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  cursor: pointer;
}
#botones a {
padding: 6px;
background-color: black;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  cursor: pointer;
}

/* contenido */
.main-login {
  width: 100%;
}

.main-login span{
  width: 30%;
  display: inline-block;
  margin: 2rem 15rem 1rem 1rem;
  
}

.main-login div{
  width: 57%;
  display: inline-block;
  margin: 0rem 1rem 1rem 31rem;
  
}

.main-contenido {
  width: 80%;
  display: inline-block;
}

